{% extends 'base.html.twig' %}
{% block body %}
    <h1>Editace kontaktu</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Upravit">
    {{ form_end(form) }}
{% endblock %}
