{% extends 'base.html.twig' %}
{% block body %}
    <h1>Seznam kontaktů</h1>
    <a href="{{ path('address_book_create') }}">Přidat nový kontakt</a>
    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Jméno a příjmení
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    Email
                </th>
                <th>
                    Akce
                </th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.firstname ~ ' ' ~ contact.surname }}</td>
                    <td><a href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a></td>
                    <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                    <td>
                        <a href="{{ path('address_book_edit', {'firstname':contact.firstName, 'surname':contact.surname, 'id':contact.id}) }}">editovat</a>
                        <a href="{{ path('address_book_remove', {'uniqueId':contact.uniqueId}) }}">smazat</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
