{% extends 'base.html.twig' %}
{% block body %}
    <h1>Přidání kontaktu</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Přidat">
    {{ form_end(form) }}
{% endblock %}